header{
  padding: 0;
  margin:0;
  top:0;
  direction:ltr;
  background-color: #026018;
  height:117px;
  width:100%;
  /* position: relative; */
  position: fixed;
  display:block;
  padding-top: 10px;
  box-shadow: 3px 4px 10px 1px black;
}
  
  .logo{
    background-image: url(./logo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 331px;   
     height: 104px;
    display: block;
    position:absolute;
    top:0;
    left:50%;
    top:20%;
    transform:translateX(-50%)
  }
  
  .coin-and-img{
    position: absolute;
    padding-left: 10px;
  }
  
  .points{
    color:white;
    font-size: 20px;
  }
  
  .imgcoin{
    color:rgb(251, 169, 15);
    width:20px;
    height:20px;
  }
  
  .ramat-gan-logo{
    position: absolute;
    top:5px;
    right:5px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(./Flag_Of_Ramat_Gan.svg);
    
  }
  