/* .question{
    
} */

.question{
    background-color: orange;
    color: white;
}
.question .title{
    text-decoration: underline;

}
.question .correct{
    width: 90%;
    background-color: green;
    margin-bottom: 5px;
}

.question .wrong{
    width: 90%;
    background-color: red;
    margin-bottom: 5px;
}
.question .answer{
    width: 90%;
    background-color: orange;
    margin-bottom: 5px;
}

li{
    list-style: none;
}
.question .card{
    text-align: right;
    background-color: #31b04fd7;
    width: 90vw;
    margin: 0 auto;
    box-shadow: 3px 4px 5px 2px black;
    padding: 10px;
    border-radius: 30px;
}

.questionContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.question img{
    max-width: 400px;
    border-radius: 20px;
    text-align: center;
}

.card-contant{
    padding: 20px;
}