*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100vh;
  background-color: orange;
}


@font-face {
  font-family: he;
  src: url(./assets/fonts/IBMPlexSansHebrew-Light.ttf);
}